Flask==2.2.2               # Flask web framework
Flask-CORS==3.0.10         # For Cross-Origin Resource Sharing
Pillow==9.3.0              # Image processing library
ultralytics==8.0.51        # YOLOv8 model for object detection and classification
numpy==1.24.3              # Ensure you have a compatible version of numpy
protobuf==5.28.2           # For serializing structured data
setuptools==75.2.0         # Python package installation
six==1.16.0                # Utility for compatibility between Python 2 and 3
wheel==0.44.0              # Built-package format
